{% extends 'mainpage/index.html' %}
   
{% load staticfiles %}
   {% block form %}
       
        <div class="row">
            <font size="6"><FONT FACE="algerian">Travel From:</FONT></font>
            <label> 
                <select name="coordinates" class="fa fa-bar-chart-o">
                    <option value="current">current location</option>
                    <option value="32.5 , -86">Alabama</option>
                    <option value="61 , -151.2">Alaska</option> 
                    <option value="34, -111">Arizona</option>
                    <option value="34.5, -91.5">Arkansas</option>
                    <option value="37, -119">California</option>
                    <option value="39, -105">Colorado</option>
                    <option value="41.5, -72">Connecticut</option>
                    <option value="38.5, -75">Delaware</option>
                    <option value="38.5, -76.5">District of Columbia</option>
                    <option value="27, -83">Florida</option>
                    <option value="32.5, -82.5">Georgia</option>
                    <option value="20, -157">Hawaii</option>
                    <option value="46, -114">Idaho</option>
                    <option value="39, -88.5">Illinois</option>
                    <option value="39, -86">Indiana</option>
                    <option value="41.5, -93">Iowa</option>
                    <option value="38.5, -98">Kansas</option>
                    <option value="37.5, -85">Kentucky</option>
                    <option value="30, -91">Louisiana</option>
                    <option value="45, -69">Maine</option>
                    <option value="38, -77">Maryland</option>
                    <option value="41.5, -71">Massachusetts</option>
                    <option value="44, -86">Michigan</option>
                    <option value="46, -93">Minnesota</option>
                    <option value="33, -89">Mississippi</option>
                    <option value="38, 92">Missouri</option>
                    <option value="46, -92">Montana</option>
                    <option value="41, -99">Nebraska</option>
                    <option value="38, -117">Nevada</option>
                    <option value="43, -71">New Hampshire</option>
                    <option value="39.5, -74">New Jersey</option>
                    <option value="34, -106">New Mexico</option>
                    <option value="42, -75">New York</option>
                    <option value="34.5, -80">North Carolina</option>
                    <option value="47, -100">North Dakota</option>
                    <option value="40, -82">Ohio</option>
                    <option value="35, -98">Oklahoma</option>
                    <option value="44, -120">Oregon</option>
                    <option value="40.5, -77">Pennsylvania</option>
                    <option value="17.5, -66">Puerto Rico</option>
                    <option value="41.5, -71">Rhode Island</option>
                    <option value="33.5, -80.5">South Carolina</option>
                    <option value="43.5, -100">South Dakota</option>
                    <option value="35, -96">Tennessee</option>
                    <option value="30, -99">Texas</option>
                    <option value="40, -111">Utah</option>
                    <option value="43.5, -72">Vermont</option>
                    <option value="17.5, -64">U. S. Virgin Islands</option>
                    <option value="37.5, -79">Virginia</option>
                    <option value="47, -120">Washington</option>
                    <option value="38.5, -80">West Virginia</option>
                    <option value="45, -89">Wisconsin</option>
                    <option value="43, -107">Wyoming</option>   
                </select>     
            </label>
        </div> 
        <br>

    <label>
       <div class="row"> <font size="6"><FONT FACE="algerian"> Which park do you like:</FONT></font> </div>
       
       
     <table>
        <tr>
            <td>
                <img src="{% static 'mainpage/images/pic01.jpg' %}" width="135" height="110"  alt=""/>
            </td>
           
            <td>
                <img src="{% static 'mainpage/images/pic02.jpg' %}" width="135" height="110"  alt=""/>
            </td>

            <td>
                <img src="{% static 'mainpage/images/pic03.jpg' %}" width="135" height="110"  alt=""/>
            </td>

            <td>
                <img src="{% static 'mainpage/images/pic04.jpg' %}" width="135" height="110"  alt=""/>
            </td>

            <td>
                <img src="{% static 'mainpage/images/pic05.jpg' %}" width="135" height="110"  alt=""/>
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <input type="radio" name="parktype" value="0">
            </td>
            <td style="text-align:center">
                <input type="radio" name="parktype" value="1">
            </td>
            <td style="text-align:center">
                <input type="radio" name="parktype" value="2">
            </td>
            <td style="text-align:center">
                <input type="radio" name="parktype" value="3">
            </td>
            <td style="text-align:center">
                <input type="radio" name="parktype" value="4">
            </td>
        </tr>
     </table>
       

    </label>
    
    <br>

    <div class="row">
        <div class="8u" style="float: right">
            <input type='submit' class="btn btn-lg btn-primary">
            <!-- <input type="submit" style="font-face: 'Comic Sans MS'; font-size: xx-large; color: white; background-color: #1E90FF; border: 3pt ridge lightgrey" value=" SUBMIT"> -->
        </div>
    </div>
    {% endblock %}
        

